{% assign lang = site.lang %}
{% assign words = page.content | number_of_words %}

  {% comment %}WORD COUNT AND READING TIME{% endcomment %}
{% if lang == "en" %}
	{{ page.content | number_of_words | prepend: " " | append: " words" }} —
	{% if words <= 180 %}
		less than 1 minute
  		{% elsif words > 180 and words < 360 %}
		<abbr>appr.</abbr> 1 minute
  		{% elsif words >= 360 %}
		{{ words | divided_by: 180 | prepend: "<abbr>appr.</abbr> " | append: " minutes" }}
	{% endif %}

  {% comment %}COMPTE DES MOTS ET HEURE DE LECTURE{% endcomment %}
  {% elsif lang == "fr" %}
	{{ page.content | number_of_words | prepend: " " | append: " mots" }} —
	{% if words <= 180 %}
		moins de 1 minute
  		{% elsif words > 180 and words < 360 %}
		environ 1 minute
  		{% elsif words >= 360 %}
		{{ words | divided_by: 180 | prepend: "environ " | append: " minutes" }}
	{% endif %}

  {% comment %}CONTEGGIO DELLE PAROLE E TEMPO DI LETTURA{% endcomment %}
  {% elsif lang == "it" %}
	{{ page.content | number_of_words | prepend: " " | append: " parole" }} —
	{% if words <= 180 %}
		meno di 1 minuto
  		{% elsif words > 180 and words < 360 %}
		circa 1 minuto
  		{% elsif words >= 360 %}
		{{ words | divided_by: 180 | prepend: "circa " | append: " minuti" }}
	{% endif %}

  {% comment %}RECUENTO DE PALABRAS Y TIEMPO DE LECTURA{% endcomment %}
  {% elsif lang == "es" %}
	{{ page.content | number_of_words | prepend: " " | append: " palabras" }} —
	{% if words <= 180 %}
		menos de 1 minuto
  		{% elsif words > 180 and words < 360 %}
		cerca de 1 minuto
  		{% elsif words >= 360 %}
		{{ words | divided_by: 180 | prepend: "cerca de " | append: " minutos" }}
	{% endif %}

	{% comment %}CONTAGEM DA PALAVRA E TEMPO DE LEITURA{% endcomment %}
  {% elsif lang == "pt" %}
	{{ page.content | number_of_words | prepend: " " | append: " palavras" }} —
	{% if words <= 180 %}
		menos de 1 minuto
  		{% elsif words > 180 and words < 360 %}
		cerca de 1 minuto
  		{% elsif words >= 360 %}
		{{ words | divided_by: 180 | prepend: "cerca de " | append: " minutos" }}
	{% endif %}

  {% comment %}WORTANZAHL UND LESEZEIT{% endcomment %}
  {% else %}
	{{ page.content | number_of_words | prepend: " " | append: " Worte" }} —
	{% if words <= 180 %}
		unter 1 Minute
  		{% elsif words > 180 and words < 360 %}
		<abbr>ca.</abbr> 1 Minute
  		{% elsif words >= 360 %}
		{{ words | divided_by: 180 | prepend: "<abbr>ca.</abbr> " | append: " Minuten" }}
	{% endif %}

{% endif %}
